﻿^ContentPage {
    background-color: #D8D8D8;
}

^CarouselPage {
    background-color: #D8D8D8;
}

.header {
    font-size: large;
    color: black;
    text-align: center;
    margin-bottom: 20;
}

stacklayout.outer {
    padding: 20;
}

stacklayout.outersmall {
    padding: 5;
}


#boxline {
    background-color: black;
    height: 3;
    margin-top: 20;
    margin-bottom: 20;
}

^Entry {
    /*font-size: 20;
    background-color: white;
    margin:  0;
    color: #0A100D;*/
}

button {
    border-radius: 8;
    background-color: #EB4604;
    font-size: 16;
    color: white;
    margin: 1 0;
    box-shadow: 10;
}

/*ImageButton {
    border-radius: 8;
    background-color: #EB4604;
    font-size: 16;
    color: white;
    margin: 1 0;
    box-shadow: 10;
}*/

.btn-danger {
    border-radius: 8;
    background-color: #CE0A02;
    font-size: 16;
    color: white;
    margin: 1 0;
    box-shadow: 10;
}
